html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

#id_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}

#id_header {
    /* 設定header的高度 */
    height: 40px;
    box-sizing: border-box;
}

#id_content {
    /* 留出header及footer區塊的空間 */
    padding-top: 40px;
    padding-bottom: 40px;
}

#id_footer {
    /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}